.hello-wrapper {
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  box-sizing: border-box;
}
.hello-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.hello-bg {
  position: relative;
  height: 1000px;
  background: url(../img/bg.png) top center no-repeat;
}
.hidden {
  display: none;
}
.hello-header__container {
  max-width: 1619px;
  width: 90%;
  margin: 0 auto;
  padding: 45px 0 40px;
}
.hello-header__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.hello-header__menu {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.hello-header__lines {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.img-lines {
  width: 32px;
  height: 32px;
  background-image: url(../img/lines.svg);
}
.hello-header__social {
  display: flex;
  column-gap: 20px;
  justify-self: end;
}
.hello-header__link {
  width: 28px;
  height: 28px;
}
.link-vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}
.link-youtube {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
}
.link-telegram {
  background-image: url(../img/telegram.svg);
  background-repeat: no-repeat;
}
.link-zen {
  background-image: url(../img/zen.svg);
  background-repeat: no-repeat;
}
.hello-menu {
  position: fixed;
  left: 0;
  right: 0;
  height: 92%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
  z-index: 999;
}
.hello-menu__inner {
  height: 100%;
  display: grid;
  align-items: center;
}
.hello-menu__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hello-menu__btn {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
body.active {
  overflow-y: hidden;
}
.active .hello-header {
  background-color: #ffffff;
}
.active .img-lines {
  background-image: url(../img/close-black.svg);
}
.active .logos--filter {
  filter: invert(1);
}
.active .link-vk {
  background-image: url(../img/vk-active.svg);
  background-repeat: no-repeat;
}
.active .link-youtube {
  background-image: url(../img/youtube-active.svg);
  background-repeat: no-repeat;
}
.active .link-telegram {
  background-image: url(../img/telegram-active.svg);
  background-repeat: no-repeat;
}
.active .link-zen {
  background-image: url(../img/zen-active.svg);
  background-repeat: no-repeat;
}
